body{
    background-image: url(elon.jpg);
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    align-items: center;
}